@charset "utf-8";
/* CSS Document */
h1 {
	color: #fff !important;
}
h2 {
	color: #000 !important;
}
body.homepage div.w-3-4 div.w-1-4 h2 {

                color: #fff !important;

}
p {
	margin-top: 0 !important;
}