
{{ define "main" }}

<div class="content">
    <div class="column w-3-4">
        <div class="intro">
            <p class="welcome">Добре дошли
            </p>
            <blockquote>
                <p><img src="images/left-quote.png" class="left-quote" alt="">
                </p><h3>на интернет страницата на "Асарел-Медет" АД - град Панагюрище</h3> <p style="text-align: left;">Тук ще откриете информация за историята, настоящето и бъдещите амбиции на първата, най-голяма и водеща българска минна компания за открит добив и обогатяване на медни руди. <br>
  Ще научите повече и за нас - екипът от професионалисти-съмишленици на “Асарел-Медет”АД,&nbsp;който отстоява фирменото мото “Да тръгнем първи, означава да тръгнем навреме”&nbsp;и девиза „От природата - за хората, от хората - за природата!” <br>
  Най-сърдечно благодарим на всички партньори, клиенти и приятели за доверието&nbsp;и честта да работим заедно. Уверени сме, че все така успешно ще преодоляваме предизвикателствата и ще споделяме ценностите на социално-отговорния бизнес! </p> <p style="text-align: left;">&nbsp;</p> <h3 align="left"></h3>
  
                <p></p>
              </blockquote>
              <ul class="more">
                <li id="homeLink1" style="display: none;"></li>
                <li id="homeLink2" style="border: none; margin-left: 0px; padding-left: 0px;"><div><br></div><div><br></div><div><br></div><div><br></div></li>
              </ul>
              <div class="cite"><img id="ctl00_Pic_Image1" src="images/d_Tsotsorkov_sm.jpg" alt="Димитър Цоцорков – председател на Надзорния съвет" style="border-width:0px;"><a href="About/Managing/Chairman.aspx">Димитър Цоцорков – председател на Надзорния съвет </a>
              </div>
        </div>
        <div id="upComming2" class="column w-3-4">
            
        </div>
        <div class="clear"></div>
        <div class="column w-1-4"><h2>Новини
        </h2></div>
        <div class="column w-3-4">
            {{ partial "news-list.html" . }}
          
            </div>
            <div class="clear"></div>
            <div class="column w-1-4"><h2>Отличия
            </h2></div>
            <div class="column w-3-4">
                {{ partial "awards-list.html" . }}
              
                </div>
    </div>
    <div class="column w-1-4">
          
          
        <h2>Търсене</h2>
        {{ partial "searches-list.html" . }}
    </div>

</div>


{{ end }}