img, p {
	behavior: url(/c/iepngfix.htc);
}
ul#navigation {
	height: auto !important;
	height: 25em;
	background: transparent url(../i/design/ul-navigation.gif) no-repeat 100% 0;
}
ul#navigation li ul {
	height: auto !important;
	height: 25em;
	width: 120%;
	background: transparent url(../i/design/ul-navigation-ul.gif) no-repeat 100% 0;
}
div.contact dl dt {
	margin-right: 0;
}
div.contact dl dd.ie {
	width: 65%;
	float: right;
}
ul.languages {
	
}
form.ie, div.ie {
	margin-bottom: 10px;
}
h1 {
	height: auto !important;
	height: 6em;
}
div.intro-ie {
	padding-left: 35%;
}
div.cite-ie {
	width: 33%;
	left: -35%;
	background: transparent url(../i/design/cite-img.gif) no-repeat 120% 0;
}
div.cite img {
	margin: 0;
}
img.left-quote {
	left: -8%;
}
p.moto {
	width: 332px;
}
/* Nav */
ul#navigation li ul li a:link, 
ul#navigation li ul li a:visited, 
ul#navigation li ul li a:hover, 
ul#navigation li ul li a:focus, 
ul#navigation li ul li a:active {
	/* width: 230px; 
	display: inline;
	background:	#666;*/
}
ul#navigation li ul li a:hover {
	/*display: block;*/
	background: #CC6600 url(../i/design/ul-navigation-a.gif) no-repeat 100% 50%;
}
/**/
div.page {
	padding: 0; 
		width: expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) > 1382 ? "1380px" : 
				(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) < 952 ? "950px" : "96%"));
}
div.contact h2  {
            margin-left: 16%;
}
a.map:link, a.map:visited, a.map:hover, a.map:focus, a.map:active {
            margin-left: -13%;
}
ul.gallery li {
                height: 21em;
                overflow: visible;
}
