<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="bg">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <base href="/">
    <link href="css/reset-min.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/layout.css" rel="stylesheet" type="text/css" media="screen, projection">
    <link href="css/typography.css" rel="stylesheet" type="text/css" media="all">
    <!--[if IE]><link href="css/ie.css" rel="stylesheet" type="text/css" media="all" /><![endif]-->
    <!--[if lt IE 7]><link href="css/ie6.css" rel="stylesheet" type="text/css" media="all" /><![endif]-->
    <link href="css/print.css" rel="stylesheet" type="text/css" media="print">
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    
    <meta name="Description" content="Асарел Медет АД">
    <meta name="Keywords" content="Асарел Медет АД">
    <title>
        Асарел Медет АД
    </title>
    
    
    <link rel="stylesheet" type="text/css" href="css/safari3.css">
    <link rel="stylesheet" type="text/css" href="css/safari3.css">
    </head>