{{ define "main" }}
<div class="content">
    <h1>Продуктиcd   
    </h1>
    <div class="column w-3-4">
        <div class="column w-2-4">
            „Асарел-Медет" АД произвежда и предлага за страната и чужбина висококачествени медни концентрати, цeментационна и катодна мед.
            Произвежданите продукти представляват суровина главно за медните металургични предприятия и отчасти за химическата и керамична индустрия.
            Годишно се произвежда около 200 хиляди тона натурален меден концентрат със съдържание на мед от 25 %

        </div></div>
 
</div>

{{ end }}